<!DOCTYPE html>
<!-- layout.html -->
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/layout_01-03.css">
  <title>layout_01-03</title>
</head>
<body>
  <!-- layout -->

  <!-- layout_01 -->

  <div id="wrap">#wrap</div>
  <!-- // layout_01- -->

  <hr />

  <!-- layout_02 -->
  <div id="wrap">

    <div id="header">#header</div>
    <div id="section">#selection</div>
    <div id="footer">#footer</div>

  </div><!-- // layout_02 -->

  <hr />

  <!-- layout_03 -->
  <div id="wrap">

    <div id="header">#header</div>

    <div id="section">
      <div class="sect_01">.sect_01</div>
      <div class="sect_02">.sect_02</div>
    </div>

    <div id="footer">#footer</div>

  </div><!-- // layout_03 -->

  <!-- // layout -->

</body>
</html>